/* Stijl voor alle hoofdingen */
.arial {
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 1.8em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.4em;
}

/* Stijl voor alle paragrafen */
p {
    font-family: "Times New Roman", Times, serif;
    font-size: 1.2em;
}

/* Specifieke kleurstijlen voor paragrafen met classes */
.rood {
    color: red;
}

.groen {
    color: green;
}

.blauw {
    color: blue;
}
