body {
    font-family: 'Arial', sans-serif;
}

h1, h2 {
    color: #007BFF;
}

ol, ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 20px;
}

.list-group-item {
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    margin-bottom: 10px;
}