.checklist {
    list-style: none;
    padding: 0;
}

.checklist li {
    margin-left: 20px;
    line-height: 1.5;
}

.checklist li::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: cover;
    margin-right: 5px;
}

.checklist li.checked::before {
    content: url('../img/checkediconw.png');
}

.checklist li::before {
    content: url('../img/uncheckedicon.png');
}
