/* Default styles for both mobile and desktop */
body {
    font-family: Helvetica, sans-serif;
    font-size: 1em;
    margin: 5px;
    color: black;
}

header, footer {
    background: #ddaa00;
    padding: 20px;
    text-align: center;
    color: white;
}

nav {
    background-color: #ccc;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

nav a {
    text-decoration: none;
    text-align: center;
    color: black;
    background-color: white;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
}

main {
    background-color: grey;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

section {
    margin: 5px;
    padding: 10px;
    border: 1px solid #333;
    flex: 1;
    background-color: white;
    display: flex;
    flex-direction: column; /* Align items in a column */
}

section a {
    text-decoration: none;
    color: black;
    background-color: white;
    border: 1px solid black; /* Add black border to the button */
    border-radius: 0; /* Remove border-radius for full-width button */
    padding: 10px;
    margin-top: 10px; /* Add margin between buttons */
    width: 100%; /* Make button span the full width */
    box-sizing: border-box; /* Include padding and border in the total width */
}

img {
    margin: 0;
    max-width: 100%;
}

/* Mobile styles */
@media screen and (max-width: 700px) {
    main {
        background-color: grey;
        padding: 10px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}
